In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression

In [2]:
trainData = pd.read_csv("train.csv")
testData = pd.read_csv("test.csv")
submitData = pd.read_csv("sample_submit.csv")

In [4]:
trainData.head()

   id  city  hour  is_workday  weather  temp_1  temp_2  wind   y
0   1     0    22           1        2     3.0     0.7     0  15
1   2     0    10           1        1    21.0    24.9     3  48
2   3     0     0           1        1    25.3    27.4     0  21
3   4     0     7           0        1    15.7    16.2     0  11
4   5     1    10           1        1    21.1    25.0     2  39

In [5]:
testData.head()

      id  city  hour  is_workday  weather  temp_1  temp_2  wind
0  10001     0     1           1        1    20.7    20.6     0
1  10002     1    18           0        1    32.4    36.0     1
2  10003     1    16           1        1    27.6    26.9     4
3  10004     1    11           0        1     9.3     9.4     0
4  10005     0    10           1        2    24.8    26.9     2

In [6]:
trainData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
id            10000 non-null int64
city          10000 non-null int64
hour          10000 non-null int64
is_workday    10000 non-null int64
weather       10000 non-null int64
temp_1        10000 non-null float64
temp_2        10000 non-null float64
wind          10000 non-null int64
y             10000 non-null int64
dtypes: float64(2), int64(7)
memory usage: 703.2 KB

In [9]:
# 删除id
trainData.drop('id', axis=1, inplace=True)
testData.drop('id', axis=1, inplace=True)

In [10]:
# 取出训练集中的y属性
y_train = trainData.pop('y')

In [13]:
# 调用线性模型模型进行预测
res = LinearRegression()
res.fit(trainData, y_train)
y_pred = res.predict(testData)

In [14]:
# 若预测结果为负值，则改为0
y_pred = list(map(lambda x: x if x >= 0 else 0, y_pred))

In [16]:
# 创建表格，输出预测结果
submitData['y'] = y_pred
submitData.to_csv("my_LR_prediction.csv", index=False)