In [1]:
import pymysql

In [7]:
db = pymysql.connect(host='localhost', user='root', password='077211')

In [11]:
cursor = db.cursor()
cursor.execute('SELECT VERSION()')
data = cursor.fetchone()
print('Database version: ', data)
# 创建名字为spiders的数据库
cursor.execute("CREATE DATABASE spiders DEFAULT CHARACTER SET utf8")
db.close()

Database version:  ('8.0.18',)

D:\Program Files (x86)\Anaconda\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

In [13]:
db = pymysql.connect(host='127.0.0.1', user='root', password='077211', db='spiders')
cursor = db.cursor()
sql = 'CREATE TABLE IF NOT EXISTS students (id VARCHAR(255) NOT NULL, name VARCHAR(255) NOT NULL, age INT NOT NULL, PRIMARY KEY(id))'
cursor.execute(sql)

0

In [14]:
id = '20120001'
user = 'Bob'
age = '20'

sql = 'INSERT INTO students(id, name, age) values(%s, %s, %s)'

try:
    cursor = execute(sql, (id, name, age))
    db.commit()
except:
    db.rollback()

In [15]:
cursor = db.cursor()